footer{
    padding: 40px;
    background: #b9b8b8;
    /* text-align: center; */
    /* align-items:normal; */
    
}

#footer-conteudo{
    width: 1200px;
    margin: 0 auto;
    /* background: rebeccapurple; */
}

