footer{
    padding: 40px;
    background: #b9b8b8;
    text-align: center;
    /* align-items:normal; */
    
}

#rodape{
    width: 1200px;
    margin: 0 auto;
    background: rebeccapurple;
}

#contatos{
    color:#202c73;
}