*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    /* ele coloca cada elemento em uma estremidade */
    max-width: 1200px;
    margin: 0 auto;

}

header > img{
    width: 100px;
}

#menu{
    display: flex;
    /* flex-wrap: wrap; */
    /* para não quebrar a linha */
    gap: 10px;
    
}