.perfil{
    display: flex;
    /* 
     quando os elementos tem altura e  ou largura diferente usamos display flex.

     elementos com medidas iguais em altura e tamanho  ou quando vai ser para uso prioritario em dispositivo movel usa se  display grid
     ele define a largura conforme o conteudo e o tamnaho da tela
     */
     /* eles são comprementares */
     
    max-width: 1200px;  
    max-width: 1200px;
    /* controla a largura maxima que pode ter no zoom para não perder a simetria */                                                                                        
    height: 80vh;
    gap:110px;
    align-items: center;
    /* centraliza os elementos filho na vertical */
    margin: 0 auto;
}

#perfil-dados >h1 {
    font-size: 4rem;
    line-height: 1.4;
    font-weight: 700;
    font-style: normal;
}

#perfil-dados >h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#perfil-dados> p{
    margin-top: 0px;
    color: #6e6d6d;
}



/* sessao projeto */
.projetos{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 110px;
}

.projetos h2{
    font-size: 8rem;
    max-width: 10ch;
    color: #202d73;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    
}