.botaoinicio{
    text-decoration: none;
    color: #000;
    background-color: white;
    padding: 8px 18px;
    font-weight: bold;
    /* padding: 4px; */
    border-radius: 1px 15px;
    /* aredonda as pontas */
    /* color: #fff; */
    border: solid 1px blue;
    /* background-color: blue; */
    /* transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease; */
}

button{
    background: white;
    border: 0;
    font-size: 1.1rem;
}

.perfil{
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* 
     quando os elementos tem altura e  ou largura diferente usamos display flex.

     elementos com medidas iguais em altura e tamanho  ou quando vai ser para uso prioritario em dispositivo movel usa se  display grid
     ele define a largura conforme o conteudo e o tamnaho da tela
     */
     /* eles são comprementares */
     
    max-width: 1200px;  
    max-width: 1200px;
    /* controla a largura maxima que pode ter no zoom para não perder a simetria */                                                                                        
    height: 80vh;
    gap:110px;
    align-items: center;
    /* centraliza os elementos filho na vertical */
    margin: 0 auto;
}

#perfil-dados >h1 {
    font-size: 4rem;
    line-height: 1.4;
    font-weight: 700;
    font-style: normal;
}

#perfil-dados >h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#perfil-dados> p{
    margin-top: 0px;
    color: #6e6d6d;
}



/* sessao projeto */
#projetos2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: 0 auto;
    gap: 110px;
    align-items: center;
}

#projetos2 h2{
    font-size: 8rem;
    max-width: 10ch;
    color: #202d73;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    
}

.principal-destaque{
    font-weight: bold;
    background: #202c73;
    padding: 4px;
    border-radius: 2px 6px;
    color: #fff;
}

.projeto-texto-principal{
    line-height: 1.9;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}

.projetos-lista{
    background: #023e73;
    display: grid;
    /* grid-template-columns: auto auto; */
    /* ele divide as colunas de acordo com o conteudo */
    /* grid-template-columns: 1fr 1fr; */
    /* cada coluna tem 1 fração */
    grid-template-columns: repeat(2,1fr);
    color: #fff;
    padding: 20px;
    /* distancia das bordas */
    gap: 20px;
    /* espaçamento dos elementos */
    /* border-radius: 4px; */
    margin-bottom: 1rem;
}

.projetos-lista h3{
    margin: 0;
    padding: 0;
    color: #b9b8b8
}

.projetos-tags{
    padding:0px;
    list-style-type: none;
    margin: 0px;
    display: flex;
    gap: 10px;
    align-items: start;
    flex-wrap: wrap;
    /* se os elementos passarem da borda, ai nao reduz a outra coluna, ele vai quebrar e ir para a linha de baixo */
    align-items: center;
    /* align-items: start; */
    /* alinha no inicio do item */
    /* align-items: end; */
    /* alinha no final do item */
}

.projetos-tags li{
    background-color: #fff;
    color: #023e73;
    border-radius: 4px;
    padding: 4px 8px;
    line-height: 1.4;
}

/* sessão projeto final */







#cursos{
    background: #023e73;
    /* height: 300px; */
    margin-top: 50px;
    /* separar um pouco do elemento de cima */
}

#cursos-principal{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: 0 auto;
    gap: 110px;
    /* espaço entre as colunas */
    color:#fff;
}

#cursos-principal h2{
  font-size: 8rem;
  word-break: break-all;
  /* quebra de palavras */
  max-width: 4ch;
  /* ch = caracter */
  text-transform: uppercase;
}

#cursos-conteudo{

}

#projeto-texto-principal{
    font-size: 1.3rem;
    line-height: 2.0;
    margin-bottom: 4rem;
}

#cursos-texto-destaque{
    background: #fff;
    color:#202c73;
    font-weight: bold;
    border-radius: 2px 6px;
    padding: 4px;
}

#cursos-lista{
    display: flex;
    /* border: #000000; */
    gap: 10px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 3rem;
    /* flex: 1; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}

.cursos-itens{
    background: #000000;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    /* text-align: center; */
    padding: 10px;

}

.cursos-itens h6{
    font-size: 1,7rem;
    color:#b9b8b8;
    font-size: 1.5rem;;
}

.cursos-itens p{
    font-size: 1.5rem;
    flex: 1;
    /* flex-grow: 1; */
    /* é o mesmo comando que flex:1; define que todos os elementos vão ter o mesmo tamanho independente do conteudo */

}



#cursos-complementar{
    color: #b9b8b8;
    margin-top: 40px;
}

#cursos-complementar-lista{
    gap: 20px;
    margin: 0 auto;
}

.estudo{
    display: flex;
    color: #fff;
    gap: 10px;
    justify-content: space-between;
}

#idioma{
    /* text-transform: uppercase; */
    gap:10px;
    margin-top: 35px;
}

#idioma-lista{
    color:#fff;
}

#idioma-cinza{
    color: #b9b8b8;
}